<h1>All Artists</h1>

<h4>
<% @artists.each do |artist| %>
  <%= link_to artist.name, artist_path(artist) %><br>
<% end %><br>
</h4>

<div class="newartist"><%= link_to "Add a New Artist", new_artist_path %>
